.tag {
	@state default {
		$(selector) {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: $(padding);
			font-size: $(font-size);
			line-height: $(line-height);
			vertical-align: baseline;
		}
		
		$(selector) svg.icon {
			flex: 0 0 auto;
			width: $(icon-width);
			height: $(icon-height);
			transform: $(icon-offset);
		}
		
		$(selector).pill {
			padding-right: $(pill-padding-x);
			padding-left: $(pill-padding-x);
			border-radius: $(pill-border-radius);
		}
	}
}
