author-control {
	@state initial {
		$(selector) {}

		$(selector) input,
		$(selector) textarea,
		$(selector) select,
		$(selector) datalist,
		$(selector) author-select,
		$(selector) author-datalist {
			width: 100%;
			max-width: 100%;
			margin: 0;
			vertical-align: top;
		}

		/* TODO: Add validation states, sub-label */
	}

	@state hover {
		$(selector):hover,
		$(selector).hover {}
	}

	@state default {
		$(selector):default {}
	}

	@state defined {
		$(selector):defined {}
	}

	@state disabled {
		$(selector).disabled {
			pointer-events: none;
		}
	}

	@state empty {
		$(selector):empty {}
	}

	@state enabled {
		$(selector):enabled {}
	}

	@state focus {
		$(selector):focus {}
	}

	@state focus-within {
		$(selector):focus-within {}
	}

	@state invalid {
		$(selector):invalid,
		$(selector)[invalid] {}
	}

	@state required {
		$(selector):required,
		$(selector)[required] {}
	}

	@state valid {
    $(selector):valid,
		$(selector)[valid] {}
  }
}
