author-control {
	@state initial {
		$(selector)[type="field"],
		$(selector)[type="select"] {
			margin-bottom: $(margin-bottom);
		}

		$(selector)[type="field"] label {
			display: inline-block;
		}

		$(selector)[type="field"] input {
			flex: 1 1 auto;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		$(selector)[type="field"] label + input {
			margin-top: $(input-margin-top);
		}

		$(selector)[type="field"] textarea {
			flex: 1 1 auto;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		$(selector)[type="toggle"] {
			display: flex;
			align-items: baseline;
		}

    $(selector)[type="toggle"] input {
			display: inline-block;
			margin: 0 $(toggle-margin-right) 0 0;
		}


		$(selector)[type="field"] textarea,
		$(selector)[type="select"] author-select {
			margin: $(input-margin-top) 0 0;
		}

		$(selector)[type="field"] textarea,
		$(selector)[type="select"] select,
		$(selector)[type="select"] select[multiple] {
			vertical-align: top;
    }

		/* TODO: Add validation states, sub-label */
	}

	@state hover {
		$(selector):hover,
		$(selector).hover {}
	}

	@state default {
		$(selector):default {}
	}

	@state defined {
		$(selector):defined {}
	}

	@state disabled {
		$(selector).disabled {
			pointer-events: none;
		}
	}

	@state empty {
		$(selector):empty {}
	}

	@state enabled {
		$(selector):enabled {}
	}

	@state focus {
		$(selector):focus {}
	}

	@state focus-within {
		$(selector):focus-within {}
	}

	@state invalid {
		$(selector):invalid{}
	}

	@state required {
		$(selector):required {}
	}

	@state valid {
    $(selector):valid {}
  }
}
