chassis-select {
  @state default {
    $(selector) {
      flex-direction: column;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
    }

    $(selector) chassis-select-title {
      @chassis inline-block-layout multi-line no-margin;
      white-space: $(multi-line-white-space);
    }

    $(selector) chassis-option,
    $(selector) .optgroup-label {
      @chassis inline-block-layout multi-line no-margin;
    }

    $(selector) chassis-select-title svg.icon,
    $(selector) chassis-option svg.icon {
      transform: $(icon-offset);
    }

    $(selector).pill {
      border-radius: $(pill-border-radius);
      overflow: auto;
    }

    $(selector).pill chassis-select-title,
    $(selector).pill chassis-option,
    $(selector).pill .optgroup-label {
      padding-right: $(pill-padding-x);
      padding-left: $(pill-padding-x);
    }
  }

  @state hover {
    $(selector):hover {}
  }

  @state disabled {
    $(selector)[disabled], $(selector).disabled {
      pointer-events: none;
    }
  }

  @state focus {
    $(selector):focus {}
  }
}
