/* TODO: Generate docs from the notes below */

/* All spec info must be contained inside a component rule as below */
button {
  @legacy {
    @chassis ie-only {
      $(selector),
      $(selector):focus,
      $(selector):active {
        background: none;
        border: none;
        outline: none;
        color: inherit;
      }

      $(selector) span {
        position: relative;
      }
    }
  }

  /* This rule can contain @state rules and an @legacy rule */
  /*
    The first element inside each @state rule MUST be the initial selector
    for the state. Component extensions rely on this being the first so they
    can properly generate selectors.
   */
  @state initial {
    $(selector) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @chassis apply inline-block padding;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }

    $(selector) .left.icon {
      order: -1;
      transform: $(left-icon-offset);
    }

    $(selector) .right.icon {
      order: 99;
      transform: $(right-icon-offset);
    }

    $(selector).pill {
      padding-left: $(pill-padding-x);
      padding-right: $(pill-padding-x);
      border-radius: $(pill-border-radius);
    }
  }

  @state visited {
    $(selector):visited {}
  }

  @state hover {
    $(selector):hover,
    $(selector).hover {}
  }

  @state active {
    $(selector):active {}
  }

  @state default {
    $(selector):default {}
  }

  @state disabled {
    $(selector):disabled {
      pointer-events: none;
    }
  }

  @state empty {
		$(selector):empty {}
	}

  @state enabled {
		$(selector):enabled {}
	}

  @state focus {
    $(selector):focus {}
  }

  @state focus-within {
		$(selector):focus-within {}
	}
}
