a.button {
  @state default {
    $(selector) {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @chassis inline-block-layout multi-line;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }

    $(selector) svg.icon {
      transform: $(icon-offset);
    }

    $(selector).pill {
      padding-left: $(pill-padding-x);
      padding-right: $(pill-padding-x);
      border-radius: $(pill-border-radius);
    }
  }

  @state visited {
    $(selector):visited {}
  }

  @state hover {
    $(selector):hover {}
  }

  @state active {
    $(selector):active {}
  }

  @state disabled {
    $(selector)[disabled], $(selector).disabled {
      pointer-events: none;
    }
  }

  @state focus {
    $(selector):focus {}
  }
}
