@chassis-post component-reset block {
	background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
	border: medium none currentColor;
	border-radius: 0;
	border-image: none;
	opacity: 1;
	text-align: inherit;
	text-align-last: auto;
	visibility: visible;
}
