/* Element visibility modifiers */
.chassis .hidden,
.chassis [hidden] {
	display: none !important;
}

.chassis .invisible {
	visibility: hidden !important;
}

.chassis .transparent {
	opacity: 0 !important;
}

/* Type Modifiers */
.chassis .text-normal {
	font-style: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
}

.chassis .text-italic {
	font-style: italic !important;
}

.chassis .text-oblique {
	font-style: oblique !important;
}

.chassis .text-capitalize {
	text-transform: capitalize !important;
}

.chassis .text-small-caps {
	font-variant: small-caps !important;
}

.chassis .text-uppercase {
	text-transform: uppercase !important;
}

.chassis .text-lowercase {
	text-transform: lowercase !important;
}

.chassis .text-underline {
	text-decoration: underline !important;
}

.chassis .text-strikethrough {
	text-decoration: line-through !important;
}

.chassis .text-nowrap {
	white-space: nowrap !important;
}
