chassis-datalist {
  @state default {
    $(selector) {
      position: relative;
      flex-direction: column;
      vertical-align: middle;
      outline: none;
      cursor: pointer;
      user-select: none;
    }

    $(selector) chassis-options {
      overflow: auto;
    }

    $(selector) chassis-option {
      @chassis apply inline-block padding;
    }

    $(selector) chassis-option svg.icon {
      transform: $(icon-offset);
    }

    $(selector).pill {
      border-radius: $(pill-border-radius);
    }

    $(selector).pill chassis-options {
      border-radius: 0 0 $(pill-border-radius) $(pill-border-radius);
    }

    $(selector).pill chassis-option {
      padding-right: $(pill-padding-x);
      padding-left: $(pill-padding-x);
    }
  }

  @state open {
    $(selector)[open] {}

    $(selector)[open] chassis-options {
      @chassis apply inline-block margin-bottom;
    }

    $(selector)[open].pill {
      border-radius: $(pill-border-radius) $(pill-border-radius) 0 0;
    }
  }

  @state hover {
    $(selector):hover {}
  }

  @state focus {
    $(selector):focus {}
  }

  @state disabled {
    $(selector).disabled,
    $(selector):disabled {
      pointer-events: none;
    }
  }
}
