chassis-select {
  @state default {
    $(selector) {
      position: relative;
      flex-direction: column;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
    }

    $(selector) chassis-select-title {
      @chassis inline-block-layout multi-line no-margin;
      white-space: $(multi-line-white-space);
    }

    $(selector) chassis-options {
      overflow: auto;
    }

    $(selector) chassis-option,
    $(selector) chassis-optgroup-label {
      @chassis inline-block-layout multi-line no-margin;
    }

    $(selector) chassis-select-title svg.icon,
    $(selector) chassis-option svg.icon {
      transform: $(icon-offset);
    }

    $(selector).pill {
      border-radius: $(pill-border-radius);
    }

    $(selector).pill chassis-select-title {
      border-radius: $(pill-border-radius);
    }

    $(selector).pill chassis-options {
      border-radius: 0 0 $(pill-border-radius) $(pill-border-radius);
    }

    $(selector).pill chassis-select-title,
    $(selector).pill chassis-option,
    $(selector).pill chassis-optgroup-label {
      padding-right: $(pill-padding-x);
      padding-left: $(pill-padding-x);
    }
  }

  @state open {
    $(selector)[open] {}

    $(selector)[open] chassis-options {
      @chassis inline-block-layout no-line-height no-margin-right no-padding;
    }

    $(selector)[open].pill,
    $(selector)[open].pill chassis-select-title {
      border-radius: $(pill-border-radius) $(pill-border-radius) 0 0;
    }
  }

  @state hover {
    $(selector):hover {}
  }

  @state disabled {
    $(selector)[disabled],
    $(selector).disabled,
    $(selector):disabled {
      pointer-events: none;
    }
  }

  @state focus {
    $(selector):focus {}
  }
}
