chassis-control {
	@state default {
		$(selector)[type="field"],
		$(selector)[type="select"] {
			margin-bottom: $(margin-bottom);
		}

		$(selector)[type="field"] label {
			display: inline-block;
		}

		$(selector)[type="field"] input {
			flex: 1 1 auto;
			width: 100%;
			max-width: 100%;
			margin: $(input-margin-top) 0 0;
		}

		$(selector)[type="field"] textarea {
			flex: 1 1 auto;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

    $(selector)[type="toggle"] input {
			margin: 0 $(toggle-margin-right) 0 0;
		}


		$(selector)[type="field"] textarea,
		$(selector)[type="select"] chassis-select {
			margin: $(input-margin-top) 0 0;
		}

		$(selector)[type="field"] textarea,
		$(selector)[type="select"] select,
		$(selector)[type="select"] select[multiple] {
			vertical-align: top;
    }

		/* TODO: Add validation states, sub-label */
	}

	@state disabled {
		$(selector).disabled,
		$(selector):disabled {
			pointer-events: none;
		}
	}
}
