author-datalist {
  @state initial {
    $(selector) {
      user-select: none;
    }

    $(selector) author-options {
      overflow: auto;
    }

    $(selector) author-option {
      @chassis apply inline-block padding;
    }
  }

  @state hover {
    $(selector):hover,
    $(selector).hover {}
  }

  @state defined {
    $(selector):defined {}
  }

  @state disabled {
    $(selector):disabled {
      pointer-events: none;
    }
  }

  @state empty {
		$(selector):empty {}
	}

  @state enabled {
		$(selector):enabled {}
	}

  @state focus {
    $(selector):focus {}
  }

  @state focus-within {
		$(selector):focus-within {}
	}

  @state invalid {
		$(selector):invalid {}
	}

  @state open {
    $(selector)[open] {}
  }

  @state valid {
    $(selector):valid {}
  }
}
