@chassis-post component-reset inline {
	color: inherit;
	margin: 0;
	opacity: 1;
	padding: 0;
	text-decoration: none solid currentColor;
	text-shadow: none;
	text-transform: none;
	unicode-bidi: normal;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
}
