@chassis-post component-reset inline-block {
	background: transparent none repeat 0% 0% / auto auto padding-box border-box scroll;
	border: medium none currentColor;
	border-radius: 0;
	border-image: none;
	color: inherit;
	margin: 0;
	opacity: 1;
	outline: medium none invert;
	padding: 0;
	text-align: inherit;
	text-align-last: auto;
	text-decoration: none solid currentColor;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
}
